<div class="comp__slide_in">
  <div class="row">
    <div class="col-sm-12 mt-3">
      <h3 class="lp__notifications targ_title">Recently Notifications</h3>
      <a href="#" class="lp__close_slidein"><span class='oi oi-x'></span></a>
      <div class="targ_slide_in_content">
        <div class="lp__slide_in_loader mt-3"><div class='sp-loading light'></div></div>
      </div>
    </div>
  </div>

</div>
