<p>Are you sure you want to confirm this appointment?</p>

<a class="btn btn-sm btn-success" href="<%=confirm_admin_appointment_path(@record)%>" data-confirm-check="" data-confirm-method="post">Confirm</a>
<a class="btn btn-sm btn-outline-info" href="<%=admin_appointment_path(@record)%>">Cancel</a>



