<div class="modal-body p-0 appointment-modal">
  <div class="container-fluid comp__rep_form">
    <%= render partial: "rep/appointments/components/confirmed_appointment_detail.html.erb", locals: {office_view: office_view}%>
  </div>
</div>


<script>
  LPRepForm_Initializer();
</script>