<div class="modal-body p-0 appointment-modal comp__rep_form">
	<div class="container-fluid pb-5">
		<%= render partial: 'rep/appointments/components/finish__appointment_reserved', locals: {appointment: appointment, show_in_modal: true} %>
	</div>
</div>