<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mt-3">
        <h3 class="ft-bold">Contact Us</h3>
        <p class="mt-2">Please let us know how we can help! You can also email us at <a href="mailto:help@lunchpro.com">help@lunchpro.com</a>. We will get back to you as soon as we can.</p>
       <%= lp_text_area(nil, :notes, "Message", nil, {class: 'form-control', style: 'resize: none', rows: '10', placeholder: 'Please enter a message.'}) %>
      </div>
      <div class="col-12 mt-3 mb-3 text-center">
        <button data-submit type="submit" class="btn btn-primary">Send Message</button>
      </div>
    </div>
  </div>
</div>