<div class="modal-body p-0 appointment-modal">
  <div class="container-fluid">
    <div class="row faux-modal-header bb-1">      
      <%= render partial: "office/appointments/components/canceled_appointment_detail.html.erb" %>
    </div>
  </div>