<div class="modal-body p-0 appointment-modal">
  <div class="container-fluid comp__om_appointments">
    <div class="row appointment-modal-body comp__om_form">      
      <%= render partial: "office/appointments/components/internal_appointment_detail.html.erb" %>
    </div>
  </div>
</div>
<script>
LPOmForm_Initializer();
LPOmAppointments_Initializer();
</script>