<div class="modal-body p-0 appointment-modal">
  <div class="container-fluid comp__om_appointments">
    <%= render partial: "office/appointments/components/past_appointment_detail.html.erb", locals: {office_view: office_view}%>
  </div>
</div>

<script>
  LPOmForm_Initializer();
  LPOmAppointments_Initializer();
</script>
