<div class="modal-body p-0 appointment-modal">
  <div class="container-fluid">
    <div class="appointment-modal-body">      
      <%= render partial: "office/appointments/components/confirmation_pending_appointment_detail.html.erb" %>
    </div>
  </div>
</div>