<% tab 'calendar' %>
<% title 'UI Framework' %>

<%= render partial: 'shared/header/header' %>

<div id="global-content-wrapper" class="container-fluid">
    <!-- page yield -->

    <!-- end page yield -->
</div>
