<div class="comp__section-header col-sm-9 offset-sm-3 col-md-10 offset-md-2 comp__new">
  <div class="row">
    <div class="col-6 px-4">
      <h2 class="lp__light lp__new"><span class="pr-3"><%= @page_title %></span> <span class="lp__subheader"><%= cap_all(@day) %></span></h2>
    </div>
    <div class="col-6 px-4 text-right">
      <div class="btn-toolbar justify-content-end mt-3" role="toolbar" aria-label="Toolbar with buttons">
        <a href="" class="btn btn-warning btn-sm mr-3" aria-label="Cancel Order">Cancel</a>
        <% if @step == :select_restaurant %>
          <button type="button" class="btn btn-primary btn-sm" data-submit aria-label="Create Appointment Slot">Next <span class="oi oi-chevron-right ml-2"></span></button>
        <% elsif @step == :select_food %>
          <button type="button" class="btn btn-primary btn-sm" data-submit aria-label="Create Appointment Slot">Next <span class="oi oi-chevron-right ml-2"></span></button>
        <% elsif @step == :payment %>
          <button type="button" class="btn btn-primary btn-sm" data-submit aria-label="Create Appointment Slot">Next <span class="oi oi-chevron-right ml-2"></span></button>
        <% elsif @step == :confirm %>
          <button type="button" class="btn btn-primary btn-sm" data-submit aria-label="Create Appointment Slot">Process & Complete</button>
        <% else %>

        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="comp__content comp__form">

  <% if @step == :select_restaurant %>
    <%= render partial: 'select_restaurant' %>
  <% elsif @step == :select_food %>

  <% elsif @step == :payment %>

  <% elsif @step == :confirm %>

  <% else %>

  <% end %>

</div>
