<!-- floating container with shadow -->
<div id="account-profile" class="b-1 m-3 p-3">
  <div class="mb-3 mt-4 ml-4">
    <div class="h4">General Information</div>
    <div class="row pt-3 pl-3 pb-3">
      <p>
        <a href="http://austin.lunchpro.com/terms-of-service/" class="btn btn-link px-0" target="_blank">Terms of Service</a><br />
        <a href="http://austin.lunchpro.com/privacy-statement/" class="btn btn-link px-0" target="_blank">Privacy Policies</a>
      </p>
    </div>
  </div>
</div>
