<!-- floating container with shadow -->
<div id="account-profile" class="b-1 m-3 p-3">
  <div class="mb-3 mt-4 ml-4">
    <div class="h4">Privacy Policy</div>
    <div class="row pt-3 pl-3 pb-3">
      Insert policy here
    </div>
  </div>
</div>
