<div class="modal comp__modal" id="modal__core">
  <div class="modal-dialog" role="document" id="modal__core_dialog">
    <h1 class="sr-only">Generic Modal</h1>
    <div class="modal-content">

      <div class="lp__model_close">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="__model_content"></div>

    </div>
  </div>

</div>
