<thead class="thead-inverse">
  <tr class="is-loading-stickies">
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
</thead>
<tbody>
  <tr class="is-loading-stickies">
    <td class="loading_content" colspan="4"><div class="sp-loading left"></div> <span class="lp__loading"><%= message %></span></td>
  </tr>
</tbody>

