

<table class="lp__table table">
  <thead class="thead-inverse">
    <tr>
      <th>Qty</th>
      <th>Item</th>
      <th>Subtotal</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% order.line_items.active.each do |li| %>
      <tr>
        <td class="col-qty"><%= li.quantity %></td>
        <td><%= li.orderable_name %></td>
        <td><%= precise_currency_value(li.cost_cents) %></td>
        <td class="col-qty"><a href="<%= remove_item_admin_order_path(order, line_item_id: li.id) %>" class="oi oi-x"></a></td>
      </tr>
    <% end %>
  </tbody>
</table>
