<% tab 'calendar' %>
<% title 'Order Complete' %>

<%= render partial: "shared/header/#{@ui_space}_header", locals: {show_cancel: false} %>

<div class="lp__scroll_containers">
  <div class="lp__fixed f12 no-gutters">
    <div class="row justify-content-center pt-3">
      <div class="lp__faux_modal narrow">
        <div class="row">
          <div class="col-md-12 pl-5 pr-5">
            <div class="text-info pt-5 text-center">
              <%= finish_calendar_icon %>
            </div>
            <p class="text-center"></p>
            <% if @edit_order %>
              <p class="text-center pl-4 pr-4"><strong>Your Order Has Been Updated!</strong></p>
            <% else %>            
              <p class="text-center pl-4 pr-4"><strong>Your Order Has Been Placed!</strong></p>
            <% end %>

            <p class="text-center pl-4 pr-4 pb-4">You are all set! You can update or cancel this order from your calendar.</p>

            <a href="<%= current_rep_calendars_path %>" class="btn btn-sm btn-primary btn-block mt-4">Done</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
