
  <!-- search form -->
  <%= form_tag '', class: 'lp__find_offices_orders' do %>
    <div class="input-group lp__input_group bt-0">
        <span class="input-group-addon"><button class="fa fa-search search-icon" type="submit"></button></span>
        <input name="searchTerm" id="searchTerm" type="text" placeholder="Enter office name, address or provider">
    </div>
  <%end%>
  <div class="targ__tab_results">
      <%= render partial: 'rep/orders/components/new_order_office_results', locals: {offices: offices} %>
  </div>
