<div class="row appointment-modal-body">
  <div class="col-12">
    <h3 class="ft-bold hidden-xs-down">Are you sure you want to cancel this food order?</h3>
    <p class="hidden-xs-down">We will make sure to notify the restaurant for you if you do cancel it.</p>
  </div>
  <div class="col-2 hidden-sm-down">
    <img src="https://source.unsplash.com/random/220x160" style="width: 100%;">
  </div>
  <div class="col-12 col-sm-7">
    <h4 class="ft-bold">Jimmy John's - Garland</h4>
    <p class="mb-0 mt-1">Cuisine Type</p>
    <p>Total Price: $256.99</p>
  </div>
  <div class="col-12 text-center mt-4">
    <a href="" class="btn btn-primary col-12 col-sm-6 col-md-5 mt-2" data-dismiss="modal">Keep Order</a>
    <a href="" class="btn btn-outline-info col-12 col-sm-6 col-md-5 mt-2">Cancel Order</a>
  </div>
  <div class="col-12 mt-3 text-center">
    <p class="hidden-xs-down">A canceled appointment will be automatically removed from your calendar. You can reorder the same meal from your Order History.</p>
  </div>
</div>