<div class="modal-body p-0 appointment-modal comp__rep_form">
  <div class="container-fluid">
    <div class="row appointment-modal-body">
      <div class="col-10 mx-auto pb-4">
        <p class="text-center pt-3 pl-4 pr-4"><strong>Uh Oh! There are currently no sales reps on your standby list!</strong></p>
        <p class="font-sm text-center m-0">Please add some from your directory</p>
        <a href="<%= directory_office_preferences_path %>" class="btn btn-sm btn-primary btn-block mt-4">Add Reps to your standby</a>
      </div>
    </div>
  </div>
</div>