<div class="modal-body p-0 appointment-modal comp__rep_form">
  <div class="container-fluid">
    <div class="row appointment-modal-body">
      <div class="col-10 mx-auto pb-4">
        <div class="text-info pt-3 text-center">
          <%= finish_calendar_icon %>
        </div>
        <p class="text-center pt-3 pl-4 pr-4"><strong>Your Standby List Has Been Notified!</strong></p>
        <a href="<%= current_office_calendars_path %>" class="btn btn-sm btn-primary btn-block mt-4">Done</a>
      </div>
    </div>
  </div>
</div>