<div class="comp__section-header col-sm-9 offset-sm-3 col-md-10 offset-md-2 comp__new">
  <div class="row">
    <div class="col-8 px-4"><h2 class="lp__light lp__new"><span class="pr-3">New Menu Item</span> <span class="lp__subheader"><%= @restaurant.name %></span</h2></div>
    <div class="col-4 px-4 text-right">
      <div class="btn-toolbar justify-content-end mt-3" role="toolbar" aria-label="Toolbar with buttons">
        <button type="button" class="btn btn-sm btn-primary mr-2 lp__cancel">Cancel</button>
        <button type="button" class="btn btn-success btn-sm" data-submit aria-label="Create Item"><%= (@record.new_record?) ? 'Create Item' : 'Save Changes' %></button>
      </div>
    </div>
  </div>
</div>

<div class="comp__content comp__form">
  <%= render partial: 'form' %>
</div>
