<div class="lp__cancel_appointment_form" style="display: none;">
  <%= render partial: "rep/appointments/components/appointment_cancel_form.html.erb", locals: {office_view: office_view}%>
</div>
<div class="lp__edit_byo_form" style="display: none;">
  <%= render partial: "rep/appointments/components/appointment_byo_form.html.erb"%>
</div>