<div class="col-md-12 pl-5 pr-5">
  <div class="text-info pt-5 text-center">
    <%= finish_calendar_icon %>
  </div>
  <p class="text-center pt-3 pl-4 pr-4"><strong>Your Appointment(s) Have Been Canceled!</strong></p>

  <a href="<%= current_rep_calendars_path %>" class="btn btn-sm btn-primary btn-block mt-4">Done</a>
</div>

