<div class="modal-dialog" role="document">
  <div class="modal-body pt-2 pb-0 mb-0 mt-0">
    <h4 class="col-12">You will need to schedule an appointment before ordering food at this office!</h4>
    <div class="col-12 mt-4 text-center">
      <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      <a href="<%= policies_rep_appointments_path(office_id: office.id) %>" class="btn btn-success">Schedule</a>
    </div>
  </div>
</div>