<div class="modal" id="model__order_detail">
  <div class="modal-dialog" role="document">
          <h1 class="sr-only">Generic Modal</h1>
          <div class="modal-content">
              <div class="modal-header">
                  <div class="row">
                      <div class="col-2 text-center">
                          <!--<i class="fa fa-hourglass"></i>-->
                          <i class="fa fa-responsive fa-calendar"></i>
                      </div>
                      <div class="col-10">
                          <h3><a href="#"><strong>{{ Office Name }} <i class="fa fa-angle-right"></i></strong></a></h3>
                          <span>{{ appointment date }}</span>
                          <span>{{ Meal Type }}</span>
                          <span>{{ Meal Time }}</span>
                      </div>
                  </div>
              </div>
              <div class="modal-body">
                  <div class="card-columns mb-3">
                      <div class="card">
                          <div class="card-header">Receipt #0000047834</div>
                          <div class="card-block">
                              <!-- receipt header -->
                              <div class="row">
                                          <span class="col-10 text-uppercase">
                                              <strong>The Family Feedbag Family Restaurant</strong>
                                          </span>
                                  <span class="col-2"><a href="#">Edit</a>
                              </div>
                              <p>Order Served: 88 people</p>

                              <!-- receipt item loop -->
                              <table width="100%">
                                  <thead>
                                  <tr>
                                      <th>Chicken a la Queen</th>
                                      <th class="text-right">$99.99</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr>
                                      <td>Quantity</td>
                                      <td class="text-right">8</td>
                                  </tr>
                                  <tr>
                                      <td>Option</td>
                                      <td class="text-right">No Chicken</td>
                                  </tr>
                                  </tbody>
                              </table>
                              <hr>
                              <table width="100%">
                                  <thead>
                                  <tr>
                                      <th>Chicken a la Queen</th>
                                      <th class="text-right">$99.99</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr>
                                      <td>Quantity</td>
                                      <td class="text-right">8</td>
                                  </tr>
                                  <tr>
                                      <td>Option</td>
                                      <td class="text-right">No Chicken</td>
                                  </tr>
                                  </tbody>
                              </table>
                              <hr>
                              <table width="100%">
                                  <thead>
                                  <tr>
                                      <th>Chicken a la Queen</th>
                                      <th class="text-right">$99.99</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr>
                                      <td>Quantity</td>
                                      <td class="text-right">8</td>
                                  </tr>
                                  <tr>
                                      <td>Option</td>
                                      <td class="text-right">No Chicken</td>
                                  </tr>
                                  </tbody>
                              </table>
                              <hr>

                              <!-- total -->
                              <table class="text-black text-right" width="100%">
                                  <tr>
                                      <td width="70%">Subtotal</td>
                                      <td>$999.99</td>
                                  </tr>
                                  <tr>
                                      <td>Delivery Fee</td>
                                      <td>$99.99</td>
                                  </tr>
                                  <tr>
                                      <td>Tax</td>
                                      <td>$99.99</td>
                                  </tr>
                                  <tr>
                                      <td>Driver Tip</td>
                                      <td><input type="text" class="ml-2 text-right" placeholder="$999.99"></td>
                                  </tr>
                                  <tr>
                                      <td>Total Charge</td>
                                      <td><strong>$99,999.99</strong></td>
                                  </tr>
                              </table>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header">
                              Representative Notes
                          </div>
                          <div class="card-block">
                              <span>
                                  Lorem ipsum dolor sit amet, enim reque necessitatibus cu eum. Quas tritani pro at. Labores phaedrum no sit, ut dolor consequat eos, iuvaret eruditi sit cu. Ea percipit menandri recusabo vim, vel at iisque qualisque.
                              </span>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header">Payment Info</div>
                          <div class="card-block">
                              <div><strong>XXXX-XXXX-XXXX-6666</strong></div>
                              <div>123 Fake St. Anytown, USA 12345</div>
                          </div>
                      </div>
                      <!-- placement of this button group is questionable. it will stack low on the page on mobile and is generally in a weird place on the desktop -->
                      <div class="card transparent text-center">
                          <div class="card-block">
                              <p>This order will be delivered 15 minutes prior to start time.</p>
                              <a href="#" class="btn btn-success mb-3">Edit This Order</a><br>
                              <a href="#" class="btn btn-outline-info">Cancel This Order</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>
