<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on">
    <!-- Disable turbolinks cache -->
    <meta name="turbolinks-cache-control" content="no-cache"><!DOCTYPE html>
    <html lang="en">
      <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="cleartype" content="on">
        <!-- Disable turbolinks cache -->
        <meta name="turbolinks-cache-control" content="no-cache">
        <style type="text/css">
          body{
            font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
            color: #292b2c;
            background-color: #fff;
          }
          #outlook a { padding: 0; }
          .ReadMsgBody { width: 100%; }
          .ExternalClass { width: 100%; }
          .ExternalClass * { line-height:100%; }
          .preheader { display: none; }
          table, td { border-collapse:collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
          img { border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; }
          p { display: block; margin: 0; }
          a.button { text-decoration: none; }
          h4, .h4{
            font-size: 1.2em;
          }
          h5, .h5{
            font-size: 1.1em; 
          }
          .h3{
            font-size: 1.3em !important;
          }
          strong{
            font-weight: bold;
          }
          .order_title{
            text-align: left;
            font-size: 1.2em !important;
            font-weight: bold;
          }
          .ft-bold{
            font-weight: bold;
          }
          .ft-small{
            font-size: 0.9em !important;
          }

          .lp-hr{
            width: 100%;
            background: #1ea249;
            margin: 5px 0 5px 0;
            padding: 1px 0 1px 0;
            border: none;
          }
          .mt-1{
            margin-top: 2px !important;
          }
          .mt-2{
            margin-top: 5px !important;
          }
          .mt-4{
            margin-top: 15px !important;
          }
          .mr-2{
            margin-right: 0.4rem !important;
          }
          .mb-0{
            margin-bottom: 0px !important;
          }
          .mt-1{
            margin-top: 0px !important;
          }
          .mb-1{
            margin-bottom: 5px !important;
          }
          .pl-3{
            padding-left: 10px !important;
          }
          .col-10{
            width: 88%; display: inline-block;
          }
          .col-6{
            position: relative !important;            
            -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
            max-width: 50% !important;
            display: inline !important
            width: 50%;
            padding: 0 !important;
          }
          .col-5{
            width: 40%; display: inline-block; 
          }

          .pull-right{
            float: right !important;
          }
          .text-right{
            text-align: right;
          }

          .text-uppercase{
            text-transform: uppercase !important;
          }
          .total{
            padding-left: 300px;
          }
          .p-total{
            padding-top: 5px;
          }

          .card{
            display: inline-block;
            width: 100%;
            margin-bottom: 0.75rem;
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            background-color: #fff;
            border: 1px solid gray;
            border-radius: 0.25rem;
          }
          .card .card-header {
            background-color: #617D8A !important;
            color: #fff;
            text-align: center;
            font-weight: bold;
            border-radius: 0px;
            font-size: 1rem;
            padding: 10px;
            line-height: 1rem;
            padding: 0.75rem 1.25rem;
            margin-bottom: 0;
            background-color: #f7f7f9;
            border-bottom: 1px solid gray;
          }
          .card .card-block {
            padding: 1rem 1.25rem;
          }

          .btn-primary{
            text-align: center; max-width: 280px; 
            border-radius:3px; background: 
            #1BA6D7; color: #FFFFFF; padding: 8px 14px; display: block; margin: 0px auto; font-weight: 600;
          }
          .no-margin {
            margin-top: 0px;
          }
          .m-0{
            margin: 0 !important;
          }

          .background {
            background-color: #f2f2f2;
            padding: 5%;

          }

          .template {
            background-color: #ffffff;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
            box-shadow: 0px 0px 15px grey;
          }

          .image-logo {
            margin-right: 25%;
            margin-left: 25%;
            margin-bottom: 15px;
            width: 50%;
          }

          .image-banner {
            width: 100%;
          }

          .title {
            color: #2B2c2E;
            font-size: 20px;
            line-height: 0px;
            text-align: left;
            font-weight: bold !important;
          }

          p {
            padding: 15px;
            font-size: 16px;
            line-height: 22px;
            text-align: left;
          }

          .button {
            font-size: 20px;
            text-align: center;
            max-width: 280px; 
            border-radius:5px; 
            background: #1BA6D7; 
            color: #FFFFFF; 
            text-decoration: none;
            padding: 8px 14px; 
            display: block; 
            margin: 30px auto; 
            font-weight: 600;
          }

          hr {
            color: #f2f2f2;
            margin: 20px;
          }

          .footer {
            text-align: center;
            font-size: 16px;
          }
          .wrapper {
            text-align: center;
            display: block;
            text-align: center;
          }
          .btnDanger {
            font-size: 20px;
            text-align: center;
            max-width: 280px;
            background-color: transparent;
            border-style: solid;
            background-image: none;
            border-color: #607D8B;
            display: inline-block;
            padding: 8px 14px;
            border-radius:5px; 
            color: #607D8B;
            font-weight: 600;
            margin: 20px;
            text-decoration: none;
          }
          .btnConfirm {
            font-size: 20px;
            text-align: center;
            max-width: 280px; 
            background: #1BA6D7;
            display: inline-block;
            padding: 8px 14px;
            border-radius:5px; 
            color: #FFFFFF;       
            text-decoration: none;
            font-weight: 600;
            margin: 20px;      
            text-decoration: none;
          }
          .btnEdit {
            font-size: 20px;
            text-align: center;
            display: inline-block;
            text-decoration: none;
            background: #01AF47;
            padding: 8px 14px; 
            border-radius:5px; 
            color: #FFFFFF; 
            font-weight: 600;
            margin: 20px;
          }
          .tableWrapper {
            padding: 20px;
          }
          @media all and (max-width:600px) {
            .col-10{
              width: 100% !important;
              display: block !important;
            }
            .col-5{
              width: 100% !important;
              display: block !important;
            }
            .col-6{
              width: 100% !important;
              display: block !important;
            }
            .text-right{
              text-align: left !important;
            }
          }         
        </style>
      </head>
      <body>
        <%= yield %>
      </body>
    </html>